/*------------------------------------------------------------------
[Stylesheet]
Color Scheme - Light
-------------------------------------------------------------------*/

nav a,
#message {
	color:white;
}

.contact_form .input-field label{
	color:black;
}

.contact_form input[type=text],
.contact_form input[type=password],
.contact_form input[type=email],
.contact_form input[type=date],
.contact_form textarea {
	border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.input-field label {
	color:white;
}